{% assign block_settings = block.settings %}
{%- assign block_index = section.blocks | find_index: 'id', block.id -%}
{%- assign section_index = section.index -%}

{% capture children %}
  {% liquid
    assign preview_image = block.settings.image_1
    if block.settings.mobile_image_1 != blank
      assign preview_image = block.settings.mobile_image_1
    endif
    if block.settings.media_type_1 == 'video'
      assign preview_image = block.settings.video_1.preview_image
    endif
  %}
  {% if section.settings.slide_height == 'adapt_image' and block_index == 0 and preview_image != blank %}
    {%
      # Adapt slide height to image aspect ratio using the first slide's images
      # Use desktop image for desktop screens, mobile image for mobile screens (if available)
    %}
    {% liquid
      assign desktop_image = block.settings.image_1
      assign mobile_image = block.settings.mobile_image_1
      if mobile_image == blank
        assign mobile_image = desktop_image
      endif
      
      assign desktop_aspect_ratio = desktop_image.aspect_ratio | default: 1
      assign mobile_aspect_ratio = mobile_image.aspect_ratio | default: 1
    %}
    {% style %}
      @media (min-width: 769px) {
        slideshow-slides[size="adapt_image"] {
          min-height: 50.35vw;
          max-height: 725px;
        }
      }
      @media (max-width: 768px) {
        slideshow-slides[size="adapt_image"] {
          min-height: {{ 1 | divided_by: mobile_aspect_ratio | times: 100 }}vw;
        }
      }
    {% endstyle %}
  {% endif %}

  <div class="slide__image-container">
    {%- if block_settings.toggle_overlay -%}
      {% render 'overlay', settings: block_settings %}
    {%- endif -%}
    {%- if preview_image -%}
      {%- liquid
        assign height = preview_image.width | divided_by: preview_image.aspect_ratio | round
        assign media_width_desktop = '100vw'
        assign media_width_mobile = '100vw'
        assign sizes = '(min-width: 750px) ' | append: media_width_desktop | append: ', ' | append: media_width_mobile
        assign lazy_sizes = 'auto, ' | append: sizes
        assign widths = '832, 1200, 1600, 1920, 2560, 3840'
      %}

      {%- if block.settings.media_type_1 == 'image' -%}
        {%- liquid
          assign desktop_image = block.settings.image_1
          assign mobile_image = block.settings.mobile_image_1
          if mobile_image == blank
            assign mobile_image = desktop_image
          endif
          assign loading = 'lazy'
          assign sizes_attr = lazy_sizes
          if block_index == 1
            assign loading = 'eager'
            assign sizes_attr = sizes
          endif
        -%}
        
        {%- if mobile_image != desktop_image and mobile_image != blank -%}
          <picture>
            <source media="(max-width: 768px)" srcset="{{ mobile_image | image_url: width: 750 }} 750w, {{ mobile_image | image_url: width: 1024 }} 1024w">
            <source media="(min-width: 769px)" srcset="{{ desktop_image | image_url: width: 750 }} 750w, {{ desktop_image | image_url: width: 1024 }} 1024w, {{ desktop_image | image_url: width: 1280 }} 1280w, {{ desktop_image | image_url: width: 1440 }} 1440w, {{ desktop_image | image_url: width: 1700 }} 1700w, {{ desktop_image | image_url: width: 1920 }} 1920w, {{ desktop_image | image_url: width: 2048 }} 2048w, {{ desktop_image | image_url: width: 2304 }} 2304w, {{ desktop_image | image_url: width: 2560 }} 2560w, {{ desktop_image | image_url: width: 2880 }} 2880w, {{ desktop_image | image_url: width: 3072 }} 3072w, {{ desktop_image | image_url: width: 3840 }} 3840w">
            {{
              desktop_image
              | image_url: width: 3840
              | image_tag: height: height, sizes: sizes_attr, widths: widths, loading: loading, class: 'slide__image'
            }}
          </picture>
        {%- else -%}
          {{
            desktop_image
            | image_url: width: 3840
            | image_tag: height: height, sizes: sizes_attr, widths: widths, loading: loading, class: 'slide__image'
          }}
        {%- endif -%}
        {{
          block_settings.video_1
          | video_tag: poster: nil, autoplay: true, loop: true, controls: false, muted: true, class: 'slide__video'
        }}
      {%- endif -%}
    {%- else -%}
      {%- liquid
        assign modulo_result = block_index | modulo: 2
        assign placeholder_variant = 2 | minus: modulo_result
        assign placeholder_name = 'hero-apparel-' | append: placeholder_variant
      -%}
      {{ placeholder_name | placeholder_svg_tag: 'slide__image' }}
    {%- endif -%}
  </div>
  <div
    class="spacing-style slide__content slide__content--{{ block.settings.content_position }}{% if block.settings.inherit_color_scheme == false %} color-{{ block.settings.color_scheme }}{% endif %}{% if preview_image or block.settings.toggle_overlay %} background-transparent{% endif %}"
    style="{% render 'spacing-style', settings: block.settings %}
           --content-background-color: {{ block.settings.content_background_color }};
           --content-text-align: {{ block.settings.content_text_alignment }};
           --mobile-padding-top: {{ block.settings['padding-block-start-mobile'] }}px;
           --mobile-padding-bottom: {{ block.settings['padding-block-end-mobile'] }}px;
           --mobile-padding-left: {{ block.settings['padding-inline-start-mobile'] }}px;
           --mobile-padding-right: {{ block.settings['padding-inline-end-mobile'] }}px;"
    {{ block.shopify_attributes }}
  >
    <div
      class="group-block-content
      layout-panel-flex
      layout-panel-flex--{{ block.settings.content_direction }}
      {% if block.settings.vertical_on_mobile %}mobile-column{% endif %}"
      style="{% render 'layout-panel-style', settings: block.settings %} text-align: inherit;"
    >
      {% content_for 'blocks' %}
    </div>
  </div>
{% endcapture %}

{%- capture class -%}
  {%- if block_settings.inherit_color_scheme == false -%}
    color-{{ block_settings.color_scheme }}
  {%- endif -%}
{%- endcapture -%}

{% render 'slideshow-slide',
  index: block_index,
  class: class,
  children: children,
  attributes: block.shopify_attributes
%}

{% stylesheet %}
  .slide__content {
    height: 100%;
    position: relative;
    z-index: var(--layer-flat);
    display: flex;
    flex-direction: column;
    background-color: var(--content-background-color, transparent);
    text-align: var(--content-text-align, left);
  }

  .slide__content--top {
    justify-content: flex-start;
  }

  .slide__content--center {
    justify-content: center;
  }

  .slide__content--bottom {
    justify-content: flex-end;
  }

  .slide__content > * {
    margin: auto;
  }

  .slide__content.background-transparent {
    background-color: transparent;
  }

  /* Mobile padding overrides */
  @media screen and (max-width: 749px) {
    .slide__content {
      padding-top: var(--mobile-padding-top, var(--padding-block-start, 0)) !important;
      padding-bottom: var(--mobile-padding-bottom, var(--padding-block-end, 0)) !important;
      padding-left: var(--mobile-padding-left, var(--padding-inline-start, 0)) !important;
      padding-right: var(--mobile-padding-right, var(--padding-inline-end, 0)) !important;
    }
  }

  slideshow-slide > .slide__image-container {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
  }

  .slide__image-container > placeholder-image,
  .slide__image-container > placeholder-image > img {
    width: 100%;
  }

  .slide__image-container > .slide__image,
  .slide__image-container > .slide__video,
  .slide__image-container > picture > .slide__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }

  .slide__image-container > picture {
    width: 100%;
    height: 100%;
    display: block;
  }
{% endstylesheet %}

{% liquid
  assign mobile_h_align = block.settings.horizontal_alignment_mobile
  assign mobile_v_align = block.settings.vertical_alignment_mobile
  assign mobile_h_align_col = block.settings.horizontal_alignment_flex_direction_column_mobile
  assign mobile_v_align_col = block.settings.vertical_alignment_flex_direction_column_mobile
%}

{% comment %}DEBUG: {{ mobile_h_align }} | {{ mobile_v_align }} | {{ mobile_h_align_col }} | {{ mobile_v_align_col }}{% endcomment %}

{% if mobile_h_align != 'inherit' or mobile_v_align != 'inherit' or mobile_h_align_col != 'inherit' or mobile_v_align_col != 'inherit' %}
  {% style %}
    @media screen and (width < 750px) {
      [data-shopify-editor-block="{{ block.id }}"] .layout-panel-flex--row:not(.mobile-column) {
        {% if mobile_h_align != 'inherit' %}
          justify-content: {{ mobile_h_align }} !important;
        {% endif %}
        {% if mobile_v_align != 'inherit' %}
          align-items: {{ mobile_v_align }} !important;
        {% endif %}
      }
      [data-shopify-editor-block="{{ block.id }}"] .layout-panel-flex--column,
      [data-shopify-editor-block="{{ block.id }}"] .mobile-column {
        {% if mobile_h_align_col != 'inherit' %}
          align-items: {{ mobile_h_align_col }} !important;
        {% endif %}
        {% if mobile_v_align_col != 'inherit' %}
          justify-content: {{ mobile_v_align_col }} !important;
        {% endif %}
      }
    }
  {% endstyle %}
{% endif %}

{% schema %}
{
  "name": "t:names.slide",
  "tag": null,
  "blocks": [
    {
      "type": "@theme"
    },
    {
      "type": "@app"
    }
  ],
  "settings": [
    {
      "type": "select",
      "id": "media_type_1",
      "label": "t:settings.type",
      "options": [
        {
          "value": "image",
          "label": "t:options.image"
        },
        {
          "value": "video",
          "label": "t:options.video"
        }
      ],
      "default": "image"
    },
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "Desktop Image",
      "visible_if": "{{ block.settings.media_type_1 == 'image' }}"
    },
    {
      "type": "image_picker",
      "id": "mobile_image_1",
      "label": "Mobile Image"
    },
    {
      "type": "video",
      "id": "video_1",
      "label": "t:settings.video",
      "visible_if": "{{ block.settings.media_type_1 == 'video' }}"
    },
    {
      "type": "header",
      "content": "t:content.layout"
    },
    {
      "type": "select",
      "id": "content_position",
      "label": "Content position on image",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "content_direction",
      "label": "t:settings.direction",
      "options": [
        {
          "value": "column",
          "label": "t:options.vertical"
        },
        {
          "value": "row",
          "label": "t:options.horizontal"
        }
      ],
      "default": "column"
    },
    {
      "type": "checkbox",
      "id": "vertical_on_mobile",
      "label": "t:settings.vertical_on_mobile",
      "default": true,
      "visible_if": "{{ block.settings.content_direction == 'row' }}"
    },
    {
      "type": "select",
      "id": "horizontal_alignment",
      "label": "t:settings.alignment",
      "options": [
        {
          "value": "flex-start",
          "label": "t:options.left"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "flex-end",
          "label": "t:options.right"
        },
        {
          "value": "space-between",
          "label": "t:options.space_between"
        }
      ],
      "default": "flex-start",
      "visible_if": "{{ block.settings.content_direction == 'row' }}"
    },
    {
      "type": "select",
      "id": "vertical_alignment",
      "label": "t:settings.position",
      "options": [
        {
          "value": "flex-start",
          "label": "t:options.top"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "flex-end",
          "label": "t:options.bottom"
        }
      ],
      "default": "center",
      "visible_if": "{{ block.settings.content_direction == 'row' }}"
    },
    {
      "type": "checkbox",
      "id": "align_baseline",
      "label": "t:settings.align_baseline",
      "default": false,
      "visible_if": "{{ block.settings.vertical_alignment == 'flex-end' }}"
    },
    {
      "type": "select",
      "id": "horizontal_alignment_flex_direction_column",
      "label": "t:settings.alignment",
      "options": [
        {
          "value": "flex-start",
          "label": "t:options.left"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "flex-end",
          "label": "t:options.right"
        }
      ],
      "default": "flex-start",
      "visible_if": "{{ block.settings.content_direction != 'row' }}"
    },
    {
      "type": "select",
      "id": "vertical_alignment_flex_direction_column",
      "label": "t:settings.position",
      "options": [
        {
          "value": "flex-start",
          "label": "t:options.top"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "flex-end",
          "label": "t:options.bottom"
        },
        {
          "value": "space-between",
          "label": "t:options.space_between"
        }
      ],
      "default": "center",
      "visible_if": "{{ block.settings.content_direction == 'column' }}"
    },
    {
      "type": "range",
      "id": "gap",
      "label": "t:settings.gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 12
    },
    {
      "type": "header",
      "content": "t:content.appearance"
    },
    {
      "type": "color",
      "id": "content_background_color",
      "label": "Content background color",
      "alpha": true,
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "select",
      "id": "content_text_alignment",
      "label": "Text alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "checkbox",
      "id": "inherit_color_scheme",
      "label": "t:settings.inherit_color_scheme",
      "default": true
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-1",
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "checkbox",
      "id": "toggle_overlay",
      "label": "t:settings.media_overlay"
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "t:settings.overlay_color",
      "alpha": true,
      "default": "#00000026",
      "visible_if": "{{ block.settings.toggle_overlay }}"
    },
    {
      "type": "select",
      "id": "overlay_style",
      "label": "t:settings.overlay_style",
      "options": [
        {
          "value": "solid",
          "label": "t:options.solid"
        },
        {
          "value": "gradient",
          "label": "t:options.gradient"
        }
      ],
      "default": "solid",
      "visible_if": "{{ block.settings.toggle_overlay }}"
    },
    {
      "type": "select",
      "id": "gradient_direction",
      "label": "t:settings.gradient_direction",
      "options": [
        {
          "value": "to top",
          "label": "t:options.up"
        },
        {
          "value": "to bottom",
          "label": "t:options.down"
        }
      ],
      "default": "to top",
      "visible_if": "{{ block.settings.toggle_overlay and block.settings.overlay_style == 'gradient' }}"
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-start",
      "label": "t:settings.left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-end",
      "label": "t:settings.right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "header",
      "content": "Mobile Padding"
    },
    {
      "type": "range",
      "id": "padding-block-start-mobile",
      "label": "Mobile top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end-mobile",
      "label": "Mobile bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-start-mobile",
      "label": "Mobile left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-end-mobile",
      "label": "Mobile right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "t:names.slide",
      "settings": {
        "content_position": "center",
        "content_background_color": "rgba(0,0,0,0)",
        "content_text_alignment": "center",
        "horizontal_alignment_flex_direction_column": "center"
      },
      "blocks": {
        "group": {
          "type": "group",
          "settings": {
            "horizontal_alignment_flex_direction_column": "center",
            "width": "custom",
            "custom_width": 50,
            "width_mobile": "custom",
            "inherit_color_scheme": false,
            "color_scheme": "scheme-6",
            "custom_width_mobile": 85,
            "padding-inline-start": 48,
            "padding-inline-end": 48,
            "padding-block-start": 48,
            "padding-block-end": 48
          },
          "blocks": {
            "heading": {
              "type": "text",
              "settings": {
                "text": "<h2>New arrivals</h2>"
              }
            },
            "text": {
              "type": "text",
              "settings": {
                "text": "<p>Introducing our latest products, made especially for the season. Shop your favorites before they're gone!</p>",
                "padding-block-end": 20
              }
            },
            "button": {
              "type": "button",
              "settings": {
                "label": "Shop now",
                "link": "shopify://collections/all"
              }
            }
          },
          "block_order": ["heading", "text", "button"]
        }
      },
      "block_order": ["group"]
    }
  ]
}
{% endschema %}
