{% capture slides %}
  {% for block in section.blocks %}
    {% if block.type == 'banner' %}
      {% liquid
        assign preview_image = block.settings.image
        if block.settings.mobile_image != blank
          assign preview_image = block.settings.mobile_image
        endif
      %}

      {% liquid
        assign aspect_ratio = preview_image.aspect_ratio | default: 1
      %}

      {% capture banner_content %}
        <div
          class="banner__slide-container {% if section.settings.slide_height == 'adapt_image' %}banner__slide--adapt-image{% endif %}"
          style="{% if section.settings.slide_height == 'adapt_image' and preview_image != blank %}--aspect-ratio: {{ aspect_ratio }}; aspect-ratio: {{ aspect_ratio }};{% endif %} position: relative; overflow: hidden;"
        >
          <div class="banner__image-container">
            {%- if block.settings.image -%}
              {%- liquid
                assign height = block.settings.image.width | divided_by: block.settings.image.aspect_ratio | round
                assign media_width_desktop = '100vw'
                assign media_width_mobile = '100vw'
                assign sizes = '(min-width: 750px) ' | append: media_width_desktop | append: ', ' | append: media_width_mobile
                assign lazy_sizes = 'auto, ' | append: sizes
                assign widths = '300, 525, 750, 900, 1024, 1280, 1440, 1700, 1920, 2048, 2304, 2560, 2880, 3072, 3840'
                assign loading = 'lazy'
                assign sizes_attr = lazy_sizes
                if forloop.first
                  assign loading = 'eager'
                  assign sizes_attr = sizes
                endif
              -%}

              {%- if block.settings.mobile_image != blank and block.settings.mobile_image != block.settings.image -%}
                <picture>
                  <source media="(max-width: 768px)" srcset="{{ block.settings.mobile_image | image_url: width: 750 }} 750w, {{ block.settings.mobile_image | image_url: width: 1024 }} 1024w">
                  <source media="(min-width: 769px)" srcset="{{ block.settings.image | image_url: width: 750 }} 750w, {{ block.settings.image | image_url: width: 1024 }} 1024w, {{ block.settings.image | image_url: width: 1280 }} 1280w, {{ block.settings.image | image_url: width: 1440 }} 1440w, {{ block.settings.image | image_url: width: 1700 }} 1700w, {{ block.settings.image | image_url: width: 1920 }} 1920w, {{ block.settings.image | image_url: width: 2048 }} 2048w, {{ block.settings.image | image_url: width: 2304 }} 2304w, {{ block.settings.image | image_url: width: 2560 }} 2560w, {{ block.settings.image | image_url: width: 2880 }} 2880w, {{ block.settings.image | image_url: width: 3072 }} 3072w, {{ block.settings.image | image_url: width: 3840 }} 3840w">
                  {{
                    block.settings.image
                    | image_url: width: 3840
                    | image_tag: height: height, sizes: sizes_attr, widths: widths, loading: loading, class: 'banner__image'
                  }}
                </picture>
              {%- else -%}
                {{
                  block.settings.image
                  | image_url: width: 3840
                  | image_tag: height: height, sizes: sizes_attr, widths: widths, loading: loading, class: 'banner__image'
                }}
              {%- endif -%}
            {%- else -%}
              <placeholder-image data-block-id="{{ block.id }}" data-type="general"></placeholder-image>
            {%- endif -%}

            {%- if block.settings.toggle_overlay -%}
              {% render 'overlay', settings: block.settings %}
            {%- endif -%}
          </div>

          <div
            class="spacing-style banner__content banner__content--{{ block.settings.content_position_desktop }} banner__content--mobile-{{ block.settings.content_position_mobile }}{% if block.settings.inherit_color_scheme == false %} color-{{ block.settings.color_scheme }}{% endif %}{% if block.settings.image or block.settings.toggle_overlay %} background-transparent{% endif %}"
            style="{% render 'spacing-style', settings: block.settings %};
                   --content-background-color: {{ block.settings.content_background_color }};
                   --content-text-align: {{ block.settings.text_alignment_desktop }};
                   --mobile-content-text-align: {{ block.settings.text_alignment_mobile }};
                   --mobile-padding-top: {{ block.settings['padding-block-start-mobile'] }}px;
                   --mobile-padding-bottom: {{ block.settings['padding-block-end-mobile'] }}px;
                   --mobile-padding-left: {{ block.settings['padding-inline-start-mobile'] }}px;
                   --mobile-padding-right: {{ block.settings['padding-inline-end-mobile'] }}px;"
            {{ block.shopify_attributes }}
          >
            <div class="banner__text-content">
              {% if block.settings.heading != blank %}
                <h2 class="banner__heading">{{ block.settings.heading }}</h2>
              {% endif %}
              {% if block.settings.description != blank %}
                <div class="banner__description">{{ block.settings.description }}</div>
              {% endif %}
              {% if block.settings.button_label != blank and block.settings.button_link != blank %}
                <div class="banner__button">
                  <a href="{{ block.settings.button_link }}" class="button {{ block.settings.button_style }}">
                    {{ block.settings.button_label }}
                  </a>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      {% endcapture %}

      {% render 'slideshow-slide',
        index: forloop.index0,
        class: 'banner-slide',
        children: banner_content,
        attributes: block.shopify_attributes
      %}
    {% endif %}
  {% endfor %}
{% endcapture %}

{% liquid
  assign slideshow_class = 'slideshow--single-media'
  if section.blocks.size > 1
    assign slideshow_class = ''
  endif

  assign show_arrows = true
  if section.settings.icons_style == 'none' or section.blocks.size <= 1
    assign show_arrows = false
  endif
%}

<div
  class="spacing-style section section--{{ section.settings.section_width }} color-{{ section.settings.color_scheme }} disable-section-top-offset"
  style="{% render 'spacing-padding', settings: section.settings %}"
>
  {% render 'slideshow',
    class: slideshow_class,
    controls: controls,
    show_arrows: show_arrows,
    icon_style: section.settings.icons_style,
    autoplay: section.settings.autoplay,
    autoplay_speed: section.settings.autoplay_speed,
    slides: slides,
    slide_count: section.blocks.size,
    slide_size: section.settings.slide_height
  %}
</div>

{% schema %}
{
  "name": "Image Banner",
  "class": "container-background-image",
  "blocks": [
    {
      "type": "banner",
      "name": "Banner",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Desktop Image"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile Image"
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Image Banner"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description",
          "default": "<p>Give customers details about the banner image(s) or content on the template.</p>"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button Label",
          "default": "Shop Now"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Button Style",
          "options": [
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            },
            {
              "value": "tertiary",
              "label": "Tertiary"
            }
          ],
          "default": "primary"
        },
        {
          "type": "select",
          "id": "button_size",
          "label": "Button Size",
          "options": [
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "large",
              "label": "Large"
            }
          ],
          "default": "medium"
        },
        {
          "type": "header",
          "content": "Desktop Layout"
        },
        {
          "type": "select",
          "id": "content_position_desktop",
          "label": "Content Position",
          "options": [
            {
              "value": "top-left",
              "label": "Top Left"
            },
            {
              "value": "top-center",
              "label": "Top Center"
            },
            {
              "value": "top-right",
              "label": "Top Right"
            },
            {
              "value": "middle-left",
              "label": "Middle Left"
            },
            {
              "value": "middle-center",
              "label": "Middle Center"
            },
            {
              "value": "middle-right",
              "label": "Middle Right"
            },
            {
              "value": "bottom-left",
              "label": "Bottom Left"
            },
            {
              "value": "bottom-center",
              "label": "Bottom Center"
            },
            {
              "value": "bottom-right",
              "label": "Bottom Right"
            }
          ],
          "default": "middle-center"
        },
        {
          "type": "select",
          "id": "text_alignment_desktop",
          "label": "Text Alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "header",
          "content": "Mobile Layout"
        },
        {
          "type": "select",
          "id": "content_position_mobile",
          "label": "Content Position",
          "options": [
            {
              "value": "top-left",
              "label": "Top Left"
            },
            {
              "value": "top-center",
              "label": "Top Center"
            },
            {
              "value": "top-right",
              "label": "Top Right"
            },
            {
              "value": "middle-left",
              "label": "Middle Left"
            },
            {
              "value": "middle-center",
              "label": "Middle Center"
            },
            {
              "value": "middle-right",
              "label": "Middle Right"
            },
            {
              "value": "bottom-left",
              "label": "Bottom Left"
            },
            {
              "value": "bottom-center",
              "label": "Bottom Center"
            },
            {
              "value": "bottom-right",
              "label": "Bottom Right"
            }
          ],
          "default": "bottom-center"
        },
        {
          "type": "select",
          "id": "text_alignment_mobile",
          "label": "Text Alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "header",
          "content": "Appearance"
        },
        {
          "type": "color",
          "id": "content_background_color",
          "label": "Content Background Color",
          "alpha": true,
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "checkbox",
          "id": "inherit_color_scheme",
          "label": "Inherit Color Scheme",
          "default": true
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "Color Scheme",
          "default": "scheme-1",
          "visible_if": "{{ settings.inherit_color_scheme == false }}"
        },
        {
          "type": "checkbox",
          "id": "toggle_overlay",
          "label": "Add Image Overlay"
        },
        {
          "type": "color",
          "id": "overlay_color",
          "label": "Overlay Color",
          "alpha": true,
          "default": "#00000026",
          "visible_if": "{{ settings.toggle_overlay }}"
        },
        {
          "type": "select",
          "id": "overlay_style",
          "label": "Overlay Style",
          "options": [
            {
              "value": "solid",
              "label": "Solid"
            },
            {
              "value": "gradient",
              "label": "Gradient"
            }
          ],
          "default": "solid",
          "visible_if": "{{ settings.toggle_overlay }}"
        },
        {
          "type": "select",
          "id": "gradient_direction",
          "label": "Gradient Direction",
          "options": [
            {
              "value": "to top",
              "label": "Up"
            },
            {
              "value": "to bottom",
              "label": "Down"
            }
          ],
          "default": "to top",
          "visible_if": "{{ settings.toggle_overlay and settings.overlay_style == 'gradient' }}"
        },
        {
          "type": "header",
          "content": "Padding"
        },
        {
          "type": "range",
          "id": "padding-block-start",
          "label": "Top",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "padding-block-end",
          "label": "Bottom",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "padding-inline-start",
          "label": "Left",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "padding-inline-end",
          "label": "Right",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "default": 0
        },
        {
          "type": "header",
          "content": "Mobile Padding"
        },
        {
          "type": "range",
          "id": "padding-block-start-mobile",
          "label": "Mobile Top",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "padding-block-end-mobile",
          "label": "Mobile Bottom",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "padding-inline-start-mobile",
          "label": "Mobile Left",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "padding-inline-end-mobile",
          "label": "Mobile Right",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "default": 0
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "select",
      "id": "icons_style",
      "label": "Navigation",
      "options": [
        {
          "value": "arrow",
          "label": "Arrows"
        },
        {
          "value": "chevron",
          "label": "Chevrons"
        },
        {
          "value": "arrows_large",
          "label": "Large Arrows"
        },
        {
          "value": "chevron_large",
          "label": "Large Chevrons"
        },
        {
          "value": "none",
          "label": "None"
        }
      ],
      "default": "arrows_large"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme",
      "default": "primary"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Auto-rotate slides",
      "default": false
    },
    {
      "type": "range",
      "id": "autoplay_speed",
      "label": "Change slides every",
      "min": 3,
      "max": 7,
      "step": 1,
      "unit": "s",
      "default": 4,
      "visible_if": "{{ section.settings.autoplay }}"
    },
    {
      "type": "header",
      "content": "Size"
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "Width",
      "options": [
        {
          "value": "page-width",
          "label": "Page"
        },
        {
          "value": "full-width",
          "label": "Full"
        }
      ],
      "default": "full-width"
    },
    {
      "type": "select",
      "id": "slide_height",
      "options": [
        {
          "value": "auto",
          "label": "Auto"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        },
        {
          "value": "adapt_image",
          "label": "Adapt to image"
        }
      ],
      "default": "adapt_image",
      "label": "Height"
    },
    {
      "type": "header",
      "content": "Padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Image Banner",
      "category": "Image",
      "blocks": [
        {
          "type": "banner",
          "settings": {
            "heading": "Image Banner",
            "description": "<p>Give customers details about the banner image(s) or content on the template.</p>",
            "button_label": "Shop Now",
            "content_position_desktop": "middle-center",
            "content_position_mobile": "bottom-center",
            "text_alignment_desktop": "center",
            "text_alignment_mobile": "center"
          }
        }
      ]
    }
  ]
}
{% endschema %}