{% style %}
  .section-quote-with-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    padding-top: {{ section.settings.padding_top_mobile }}px;
    padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
  }

  .section-quote-with-image__container {
    width: 100%;
    max-width: 140rem;
    display: flex;
    gap: 1.5rem;
  }

  .section-quote-with-image__container--left {
    flex-direction: row;
  }

  .section-quote-with-image__container--right {
    flex-direction: row-reverse;
  }

  .section-quote-with-image__wrapper {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
  }

  .section-quote-with-image__content {
    width: 50%;
    padding: 12rem 4rem 6.4rem 0;
  }

  .section-quote-with-image__image {
    width: 60rem;
    height: 70rem;
  }

  .section-quote-with-image__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .section-quote-with-image__image-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .section-quote-with-image__quote p{
    font-family: 'EditorsNote', sans-serif;
    font-size: 48px;
    line-height: 63px;
    letter-spacing: 2px;
    color: #393939;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 3.2rem;
  }

  .section-quote-with-image__author {
    font-size: 1.2rem;
    line-height: 2rem;
    letter-spacing: 2px;
    color: #393939;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
  }

  .section-quote-with-image__author-position {
    font-size: 1.4rem;
    line-height: 2.1rem;
    letter-spacing: normal;
    color: #393939;
    font-style: normal;
    font-weight: 500;
    margin: 0;
  }
{% endstyle %}

<div class="section-quote-with-image section-quote-with-image--{{ section.id }}">
  <div class="section-quote-with-image__container section-quote-with-image__container--{{ section.settings.media_position }}">
    <div class="section-quote-with-image__wrapper">
      <div class="section-quote-with-image__image">
        {% if section.settings.image != blank %}
          {{
            section.settings.image
            | image_url: width: 1000
            | image_tag: class: 'section-quote-with-image__image-img'
          }}
        {% endif %}
        {% if section.settings.video != blank %}
          {% render 'video', 
            video: section.settings.video,
            video_autoplay: true,
            video_loop: true,
            video_class: 'section-quote-with-image__video',
            section_id: section.id

          %}
        {% endif %}
      </div>
    </div>
    <div class="section-quote-with-image__content">
      {% if section.settings.quote != blank %}
        <div class="section-quote-with-image__quote">{{ section.settings.quote }}</div>
      {% endif %}
      {% if section.settings.author != blank %}
        <p class="section-quote-with-image__author">{{ section.settings.author }}</p>
      {% endif %}
      {% if section.settings.author_position != blank %}
        <p class="section-quote-with-image__author-position">{{ section.settings.author_position }}</p>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Section Quote With Image",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "video",
      "id": "video",
      "label": "Video"
    },
    {
      "type": "richtext",
      "id": "quote",
      "label": "Quote"
    },
    {
      "type": "text",
      "id": "author",
      "label": "Author"
    },
    {
      "type": "text",
      "id": "author_position",
      "label": "Author Position"
    },
    {
      "type": "select",
      "id": "media_position",
      "label": "Media Position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "right"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "default": 100,
      "min": 0,
      "max": 100,
      "step": 2
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "default": 100,
      "min": 0,
      "max": 100,
      "step": 2
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "label": "Padding Top Mobile",
      "default": 50,
      "min": 0,
      "max": 100,
      "step": 2
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "label": "Padding Bottom Mobile",
      "default": 50,
      "min": 0,
      "max": 100,
      "step": 2
    }
  ],
  "presets": [
    {
      "name": "Section Quote With Image"
    }
  ]
}
{% endschema %}
