{% style %}
  .section-quote-with-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* Desktop styles */
  @media screen and (min-width: 750px) {
    .section-quote-with-image {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  /* Mobile styles */
  @media screen and (max-width: 749px) {
    .section-quote-with-image {
      padding-top: {{ section.settings.padding_top_mobile }}px;
      padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
    }
  }

  .section-quote-with-image__container {
    width: 100%;
    max-width: 140rem;
    display: flex;
    gap: 1.5rem;
    padding: 0 2rem;
  }

  .section-quote-with-image__container--left {
    flex-direction: row;
  }

  .section-quote-with-image__container--right {
    flex-direction: row-reverse;
  }

  .section-quote-with-image__wrapper {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;

    @media screen and (max-width: 749px) {
      width: 100%;
    }
  }

  .section-quote-with-image__content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (max-width: 749px) {
      width: 100%;
    }
  }

  /* Desktop content styles */
  @media screen and (min-width: 750px) {
    .section-quote-with-image__content {
      padding: 12rem 4rem 6.4rem 0;
    }
  }

  /* Mobile content styles */
  @media screen and (max-width: 749px) {
    .section-quote-with-image__content {
      padding: 2rem 1rem;
    }
    
    .section-quote-with-image__container {
      gap: 1rem;
      flex-direction: column;
    }
  }

  .section-quote-with-image__image {
    width: 100%;
    height: 70rem;
    max-width: 60rem;

    @media screen and (max-width: 749px) {
      height: 100%;
      max-width: 100%;
    }
  }

  .section-quote-with-image__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .section-quote-with-image__image-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .section-quote-with-image__quote p {
    font-family: 'EditorsNote', sans-serif;
    font-size: 48px;
    line-height: 63px;
    letter-spacing: 2px;
    color: #393939;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 3.2rem;
  }

  /* Mobile quote styles */
  @media screen and (max-width: 749px) {
    .section-quote-with-image__quote p {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 1.6rem;
    }
  }

  .section-quote-with-image__author {
    font-size: 1.2rem;
    line-height: 2rem;
    letter-spacing: 2px;
    color: #393939;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
  }

  .section-quote-with-image__author-position {
    font-size: 1.4rem;
    line-height: 2.1rem;
    letter-spacing: normal;
    color: #393939;
    font-style: normal;
    font-weight: 500;
    margin: 0;
  }

  /* Mobile text styles */
  @media screen and (max-width: 749px) {
    .section-quote-with-image__author {
      font-size: 1rem;
      line-height: 1.6rem;
    }
    
    .section-quote-with-image__author-position {
      font-size: 1.2rem;
      line-height: 1.8rem;
    }
  }

  .section-quote-with-image__container--top {
    flex-direction: column;
  }

  @media screen and (max-width: 749px) {
    .section-quote-with-image__container--bottom {
      flex-direction: column-reverse;
    }
  }

{% endstyle %}

<div class="section-quote-with-image section-quote-with-image--{{ section.id }}">
  <div class="section-quote-with-image__container section-quote-with-image__container--{{ section.settings.media_position }} section-quote-with-image__container--{{ section.settings.content_position }}">
    <div class="section-quote-with-image__wrapper">
      <div class="section-quote-with-image__image">
        {% if section.settings.image != blank %}
          {{
            section.settings.image
            | image_url: width: 1000
            | image_tag: class: 'section-quote-with-image__image-img'
          }}
        {% endif %}
        {% if section.settings.video != blank %}
          {% render 'video', 
            video: section.settings.video,
            video_autoplay: true,
            video_loop: true,
            video_class: 'section-quote-with-image__video',
            section_id: section.id

          %}
        {% endif %}
      </div>
    </div>
    <div class="section-quote-with-image__content">
      {% if section.settings.quote != blank %}
        <div class="section-quote-with-image__quote">{{ section.settings.quote }}</div>
      {% endif %}
      {% if section.settings.author != blank %}
        <p class="section-quote-with-image__author">{{ section.settings.author }}</p>
      {% endif %}
      {% if section.settings.author_position != blank %}
        <p class="section-quote-with-image__author-position">{{ section.settings.author_position }}</p>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Section Quote With Image",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "video",
      "id": "video",
      "label": "Video"
    },
    {
      "type": "richtext",
      "id": "quote",
      "label": "Quote"
    },
    {
      "type": "text",
      "id": "author",
      "label": "Author"
    },
    {
      "type": "text",
      "id": "author_position",
      "label": "Author Position"
    },
    {
      "type": "select",
      "id": "media_position",
      "label": "Media Position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "right"
    },
    {
      "type": "select",
      "id": "content_position",
      "label": "Image Position",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ],
      "default": "top"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "default": 100,
      "min": 0,
      "max": 100,
      "step": 2
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "default": 100,
      "min": 0,
      "max": 100,
      "step": 2
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "label": "Padding Top Mobile",
      "default": 50,
      "min": 0,
      "max": 100,
      "step": 2
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "label": "Padding Bottom Mobile",
      "default": 50,
      "min": 0,
      "max": 100,
      "step": 2
    }
  ],
  "presets": [
    {
      "name": "Section Quote With Image"
    }
  ]
}
{% endschema %}
